<!-- <div class="login-container"> -->
  <div class="login-container" appBackgroundAnimation [bgImages]="backgroundImages" (enterEventHandler)="onSubmit()">
  <div class="login-form">
    <h2 class="login-header">Login Form</h2>
    <div class="login-body">
      <form [formGroup]="loginForm">
        <div class="login-form-group">
          <div *ngIf="loginForm.errors" class="invalid-feedback" [ngStyle]="{'display': 'inline-block'}">
            <p *ngIf="loginForm.errors.usernameOrPasswordIncorrect" class="invalid-text">{{ loginForm.errors.usernameOrPasswordIncorrect }}</p>
          </div>
        </div>
        <div class="login-form-group">
          <input type="text" class="login-form-input" placeholder="Username" formControlName="username" [ngClass]="{'is-invalid': f.username.dirty && f.username.touched && f.username.errors }"/>
          <div *ngIf="f.username.dirty && f.username.touched && f.username.errors" class="invalid-feedback" [ngStyle]="{'display': 'inline-block'}">
            <p *ngIf="f.username.errors.required" class="invalid-text">Username is required</p>
          </div>
        </div>
        <div class="login-form-group">
          <input type="password" class="login-form-input" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid': f.password.dirty && f.password.touched && f.password.errors }"/>
          <div *ngIf="f.password.dirty && f.password.touched && f.password.errors" class="invalid-feedback" [ngStyle]="{'display': 'inline-block'}">
            <p *ngIf="f.password.errors.required"  class="invalid-text">Password is required</p>
          </div>
        </div>
        <div class="login-form-group">
          <a class="btn-link">Forgot password?</a>
        </div>
        <div class="login-form-group">
          <a class="btn-login" (click)="onSubmit()">
            <span *ngIf="loading; else login" class="spinner-border spinner-border-sm mr-1"></span>
            <ng-template #login>
              login
            </ng-template>
          </a>
        </div>
        <div class="login-form-group">
          <p>or login with</p>
          <a class="btn-third-party-login btn-facebook u-margin-right-small">
            <i class="fa fa-facebook"></i>
            facebook
          </a>
          <a class="btn-third-party-login btn-instagram">
            <i class="fa fa-instagram"></i>
            instagram
          </a>
        </div>
        <div class="login-form-group u-margin-top-small">
          <p>Don't have any account? <a class="btn-link">Sign up now</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
