<div class="login-container">
  <div class="login-form">
    <h2 class="login-header">Login Form</h2>
    <div class="login-body">
      <form [formGroup]="loginForm">
        <div class="login-form-group">
          <input type="text" class="login-form-input" placeholder="Email or phone" formControlName="username"/>
        </div>
        <div class="login-form-group">
          <input type="password" class="login-form-input" placeholder="Password" formControlName="password"/>
        </div>
        <div class="login-form-group">
          <a class="btn-link">Forgot password?</a>
        </div>
        <div class="login-form-group">
          <a class="btn-login" (click)="onSubmit()">login</a>
        </div>
        <div class="login-form-group">
          <p>or login with</p>
          <a class="btn-third-party-login btn-facebook u-margin-right-small">
            <i class="fa fa-facebook"></i>
            facebook
          </a>
          <a class="btn-third-party-login btn-instagram">
            <i class="fa fa-instagram"></i>
            instagram
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div class="col-md-6 offset-md-3 mt-5">
  <div class="alert alert-info">
    <strong>Normal User</strong> - U: user P: user<br />
    <strong>Administrator</strong> - U: admin P: admin
  </div>
  <div class="card">
    <h4 class="card-header">Angular 8 Role Based Auth Example</h4>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
        <button [disabled]="loading" class="btn btn-warning" [routerLink]="['/register']">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Register
        </button>
      </form>
    </div>
  </div>
</div> -->
