<!-- https://www.wix.com/website-template/view/html/2726?siteId=5a6d2215-ffd0-4f2c-8421-eea29cabe99c&metaSiteId=717539c2-5f25-4896-bdf6-9c9e984b12a9&originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates&tpClick=view_button -->
<article class="fitness-container">
  <section>
    <div class="bg-image"></div>
    <div class="fitness-wapper">
        <p class="heading-fourth">welcome to the new gym</p>
        <p class="heading-fifth">The fitness facility for all of your needs</p>
        <a class="btn btn--white btn--animate">Join Now</a>
    </div>
  </section>
</article>
